@import url("https://fonts.googleapis.com/css2?family-Oswald&display=swap");

/* scroll bar styling */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #7a26c1;
    border-radius: 10px;
}

body{
    margin: 0;
    padding: 0;
    background: #000;
}

/* home page styling */

.home {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("../assets/thelastofus.jpg");
    background-size: cover;
    flex-direction: column;
}

.home .top .wrapper {
    padding: 1.2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.home .top .wrapper .loginButton {
    background-color: #7a26c1;
    border: none;
    color: white;
    border-radius: 0.6rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.home .container {
    display: flex;
    margin: 10rem 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.home .container h1 {
    font-size: 3.8rem;
    font-weight: 600;
}
.home .container h2 {
    margin: 0.6rem;
    padding-bottom: 1.5rem;
    font-weight: 600;
}
.home .container p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
}
.home .container .input {
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
}

.home .container .input #keywordsInput {
    font-size: 1.2rem;
}

.home .container .input #keywordsInput:focus {
    outline-color: #7a26c1;
}

.home .container .input input {
    flex: 9;
    height: 100%;
    border: none;
    padding: 0 1.2rem;
}
.home .container .input .searchButton {
    flex: 2;
    height: 100%;
    background-color: #7a26c1;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.shows-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
    font-weight: 400;
}

.shows-container a {
    flex: 1;
    align-items: center;
    margin: 0.8rem;
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: center;
    background: #272727;
    text-decoration: none;
    box-shadow: 0.5rem 0.4rem 0.5rem #7a26c1;
}

.shows-container a img {
    margin-top: 1.4rem;
    max-width: 18rem;
    border-radius: 0.8rem;
}

.shows-container a h2 {
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem;
    text-decoration: none;
}

.shows-container a h3 {
    color: #7a26c1;
}



/* detail page */

.showDetail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showDetail-container {
    border-radius: 0.6rem;
    text-align: center;
    background: #272727;
    width: 70%;
    box-shadow: 0.5rem 0.4rem 0.5rem #7a26c1;
}

.showDetail-container img {
    float: left;
    max-width: 19rem;
    border-radius: 0.6rem;
    margin: 3rem;
}

.showDetail-container h2 {
    text-align: left;
    color: #fff;
    font-size: 1.8rem;
    margin: 2rem;
}

