/* body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
}

img {
    width: 25%;
    height: 25%;
    object-fit: fill;
}

nav {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
} */

@import url("https://fonts.googleapis.com/css2?family-Oswald&display=swap");

body{
    margin: 0;
    padding: 0;
    background: #000;
}

.home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("../assets/thelastofus.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .top .wrapper {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .top .wrapper .loginButton {
    background-color: #7a26c1;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}
.home .container {
    display: flex;
    margin: 10rem 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.home .container h1 {
    font-size: 60px;
    font-weight: 400;
}
.home .container h2 {
    margin: 10px;
    font-weight: 400;
}
.home .container p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 200;
}
.home .container .input {
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
}

.home .container .input #keywordsInput {
    font-size: 18px;
}

.home .container .input #keywordsInput:focus {
    outline-color: #7a26c1;
}

.home .container .input input {
    flex: 9;
    height: 100%;
    border: none;
    padding: 0 10px;
}
.home .container .input .searchButton {
    flex: 2;
    height: 100%;
    background-color: #7a26c1;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.shows-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
}

.shows-container a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: #272727;
    text-decoration: none;
}

.shows-container a img {
    max-width: 300px;
    border-radius: 12px;
}

.shows-container a h2 {
    color: #fff;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: 10px;
    text-decoration: none;
}

.shows-container a h3 {
    color: #7a26c1;
}

.showDetail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.showDetail-container {
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: #272727;
    text-decoration: none;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.showDetail-container img {
    float: left;
    max-width: 300px;
    border-radius: 12px;
    padding: 5%;
}

.showDetail-container h2 {
    text-align: left;
    color: #fff;
    font-size: 1.8em;
    padding: 15px 10px 0;
    margin-top: 10px;
    text-decoration: none;
}

.showDetail-container h3 {
    color: #7a26c1;
}

